<!-- <div class="row">
  <div class="col-3" id="sidediv">
    <img src="assets/myphoto.jpg" id="photo" />

  </div>
  <div class="col-9">


    <div id="header">
      <button type="button" class="btn btn-primary">Personal Details:</button><br><br>
      <p><b>Name:</b> Venkateswarlu.P</p>
      <P><b>Phone:</b> 9704399315</P>
      <P><b>Email:</b> venkateswarlu.puttamsetti@gmail.com</P>

    </div>
  </div> -->
<!-- <div class="maindiv">
  <div class="parent">
    <app-loginpage class="child"></app-loginpage>
  </div>
</div> -->
<!-- <app-dashboard></app-dashboard> -->

<app-sidenav></app-sidenav>

<!-- <div class="col-10"> -->
<router-outlet></router-outlet>
<!-- </div>
</div> -->