<p>
  User Id is {{id}}
</p>

<!-- <div class=" container card shadow p-3 mb-5 bg-red rounded"
  style="width:430px; height:400px; background-color: #E1BEE7">

  <div class="card-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width:110px">First Name:</span>
          <input type="text" class="form-control" style="width:250px">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width:110px">Last Name:</span>
          <input type="text" class="form-control" style="width:250px">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width:110px">Email:</span>
          <input type="text" class="form-control" style="width:250px">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width:110px">Phone:</span>
          <input type="text" class="form-control" style="width:250px">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width:110px">Designation:</span>
          <input type="text" class="form-control" style="width:250px">
        </div>
      </div>
      <button type="button" class="btn btn-success">Submit</button>
    </form>

  </div>
</div> -->

<app-reactiveforms></app-reactiveforms>