<!-- <ul style="list-style:none">
    <li>
      <button type="button" (click)="dashBoard()"
        style="width:100%; background-color:#cfd8dc; margin-top:100px; color:black">DASHBOARD</button>
    </li>
    <li>
      <button type="button" (click)="users()" style="width:100% ;background-color:#cfd8dc;color:black">USERS</button>
    </li>
    <li>
      <button type="button" (click)="products()"
        style="width:100%;background-color:#cfd8dc;color:black">PRODUCTS</button>
    </li>
    <li>
      <button type="button" (click)="logistics()"
        style="width:100%;background-color:#cfd8dc;color:black">LOGISTICS</button>
    </li>
    <li>
      <button type="button" (click)="signOut()" style="width:100%;background-color:#cfd8dc;color:black">LOG
        OUT</button><br>
    </li>
  </ul> -->
<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width " id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">

        <a href="dashboard()" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
            class="fa fa-dashboard"></i>
          <span class="d-none d-md-inline">Dashboard</span></a>
        <a href="users()" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
            class="fa fa-users"></i>
          <span class="d-none d-md-inline">Users</span></a>
        <a href="products()" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
            class="fa fa-cart-plus"></i> <span class="d-none d-md-inline">Products</span></a>
        <a href="logistics()" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
            class="fa fa-truck"></i>
          <span class="d-none d-md-inline">Logistics</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
            class="fa fa-sign-out"></i>
          <span class="d-none d-md-inline">Sign Out</span></a>

      </div>
    </div>
    <main class="col-md-9 col px-5 pl-md-2 pt-2 main mx-auto">
      <a href="#" data-target="#sidebar" data-toggle="collapse" aria-expanded="false"><i
          class="fa fa-navicon fa-2x py-2 p-1"></i></a>

    </main>
  </div>
</div>